/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

header{
    letter-spacing: .125rem;
    font-family: "m font", sans-serif;
    font-size: 1.75rem;
    margin: 1.5rem;
    text-align: center;
    transform: rotate(5deg);
    padding: 1.5rem;
}

h1:nth-child(2){
    border-color: darkblue;
    background-color: blue;
}

.article-image{
    float:left;
    margin: 0;
    padding: .25rem;
    width: 35%;
    }

nav{
    border-top: .125rem solid black;
    border-bottom: .125rem solid black;
    word-spacing: 8rem;
    text-align: left;
    color: black;
    text-decoration: none;
    width: 100%;
}

li{
    display: inline;
    text-decoration-line: none;
}

.subsection{
    display: grid;
    grid-template-columns: 6rem(auto-fit);
}


p{
    letter-spacing: .125rem;
    word-spacing: .025;
    font-size: .75rem;
    padding: .5rem;
    margin: .25rem;
}
