/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


header{
    letter-spacing: .125rem;
    font-family: "u font", serif;
    font-size: 2.55rem;
    margin: 1rem;
    text-align: center;
    transform: rotate(5deg);
    padding: 1rem;
}

.highlight{
    border-color: darkblue;
    background-color: blue;
    color: white;
    border-radius: 1.25rem .75rem;
    padding: .25rem;
    font-weight: bold;  
}

.article-image{
    float:left;
    margin: auto;
    padding-right:45%;
    padding-bottom: 1%;
    width: 3rem;
}

.grid{
    display: grid; 
    grid-template-columns:repeat(6, auto);
    width: 100%;
    float: left
}

nav{
    border-top: .125rem solid black;
    border-bottom: .125rem solid black;
    word-spacing: 8rem;
    text-align: left;
    color: black;
    width: 100%;
}

li{
    display: inline;
}

p{
    letter-spacing: .125rem;
    word-spacing: .0025rem;
    font-size: .75rem;
    padding: .5rem;
    margin: .25rem;
    font-family: "l font", sans-serif;
}

@font-face{
    font-family:"m font", sans-serif;
    src: url(../fonts/sans-serif/montserrat-regular);
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"l font", sans-serif;
    src: url(../fonts/sans-serif/lato-regular);
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"r font", sans-serif;
    src: url(../fonts/sans-serif/robotoslab-regular);
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"o font", sans-serif;
    src: url(../fonts/sans-serif/opensans-regular);   
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"j font", serif;
    src: url(../fonts/sans/josefinslab-regular);
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"ro font", sans-serif;
    src: url(../fonts/sans/robotoslab-regular);
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"rz font", sans-serif;
    src: url(../fonts/sans/rozhaone-regular);
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"u font", sans-serif;
    src: url(../fonts/sans/ultra-regular);
    font-weight:normal;
    font-style:normal;
}

footer{
    text-align:right;
    font-family: "rz font", sans-serif;
    font-size: .80rem;
}

.{
    text-align: left;
}
footer a{
    text-align: right
}
.expand{
    text-decoration: none;
    width: 50%;
}

time{
    font-family:"o font", sans-serif;
    font-style: italic;
    text-align: left;
    
}

button{
    font-family: "u font", serif;
    font-weight: 200;
    font-size: 2rem;
    background-color: dodgerblue;
    border-color:royalblue;
    color: white;
    border-radius: 1rem;
    text-align: center;
    margin-left: 30%;
}

a{
    outline: none;
    text-decoration-line: none;
}

a:link{
    color: #33659A;
}

a:visited{
    color:#33658A;
    }

a:focus{
    text-decoration-line: none;
    }

a:hover{
    text-decoration-line: none;
    color:goldenrod;
    }

.main-section{
    display: flex;
}

article{
    width:70%;
} 

aside{
    width: 30%;
    border:.5rem;
    border-color: black;
}

h3{
    padding: 0;
    margin: 0;
}