/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face{
    font-family:l font;
    src: url(../fonts/sans-serif/lato-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:o font;
    src: url(../fonts/sans-serif/opensans-regular.ttf) format('truetype');   
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: j font;
    src: url(../fonts/serif/josefinslab-regular.ttf) format('ruetype');
    font-weight:normal;
    font-style:normal;    
}

@font-face{
    font-family: r font;
    src: url(../fonts/serif/robotoslab-regular.ttf) format('truetype');
}

header{
    font-family: "l font", sans-serif;
    letter-spacing: .125rem;
    font-size: 1.75rem;
    margin: 1rem;
    text-align: center;
    transform: rotate(5deg);
    padding: 1rem;
}

h2{
    font-family: "o font", sans-serif;
    font-size: 1.5rem;
}

h3{
    font-family: "o font", sans-serif;
    font-size: 1.25rem;
    margin: .25rem;
    margin-bottom: 0;
    padding: .25rem;
}

.highlight{
    font-family: "l font", sans-serif;
    border-color: darkslateblue;
    background-color: mediumblue;
    color: white;
    border-radius: 1.25rem .75rem;
    padding: .5rem;
    font-weight: bold; 
    text-transform: uppercase;
}

.article-image{
    float:left;
    margin: auto;
    padding-right:23rem;
    width: 3rem;
}

.grid{
    display: grid; 
    grid-template-columns:repeat(6, auto);
    background-color: antiquewhite;
    clear:both;
    margin: 0;
}

.grid img{
    width: 100%;
}

nav{
    font-family: "l font", sans-serif;
    border-top: .125rem solid black;
    border-bottom: .125rem solid black;
    word-spacing: 8rem;
    text-align: left;
    color: black;
    width: 100%;
}

li{
    display: inline;
}

p{
    font-family: "l font", sans-serif;
    letter-spacing: .1125rem;
    word-spacing: .0025rem;
    font-size: .75rem;
    padding: .5rem;
    margin: .25rem;
}

footer{
    font-family: "r font", serif;
    text-align:right;
    font-size: .80rem;
}

.copyright{
    text-align: left;
}

.expand{
    text-decoration: none;
    height:.5rem;
    width: .5rem;
    width: 50%;
    display: block;
    border-bottom: .225rem;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding: 1rem;
    margin-left: 1rem;
}

.main-section{
    display: flex;
}

footer a{
    text-align: right;
}

article{
    width:70%;
    border-right: .225rem;
    border-right-color: black;
    border-right-style: solid;
    
} 

aside{
    width:30%;
}

time{
    font-family: "j font", serif;
    font-style: italic;
    text-align: left;
}

button{
    font-family: "j font", serif;
    font-weight: 200;
    font-size: 2rem;
    background-color: dodgerblue;
    border-color:royalblue;
    color: white;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 2rem;
    text-transform: uppercase;
}

a{
    outline: none;
    text-decoration-line: none;
}

a:link{
    color: #33659A;
    display: inline-block;
}

a:visited{
    color: black;
}

a:hover{
    text-decoration-line: none;
    color:goldenrod;
}

a:active{
    transform: rotate(-5deg);
}

a:focus{
    transform: rotate(-5deg);
    text-decoration-line:line-through;
}

&#x26AB{
    width: 25%;
}